services:
  fastapi_app:
    build: .
    container_name: smart_home_api
    restart: unless-stopped
    # .env dosyasındaki değişkenleri konteynere aktar
    env_file:
      - .env

    volumes:
      # Firebase JSON Dosyasını Konteynere Aktar
      # YOL: [Kök klasördeki dosya adı]:/app/[Kök klasördeki dosya adı]
      - ./bmt400-b7c8d-firebase-adminsdk-fbsvc-67bfcc72f2.json:/app/bmt400-b7c8d-firebase-adminsdk-fbsvc-67bfcc72f2.json
      
      # Canlı geliştirme için kod klasörünü bağla (opsiyonel)
      - ./app:/app
    ports:
      - "8000:8000"
    dns:
      - 8.8.8.8
      - 1.1.1.1