services:
  fastapi_app:
    build: .
    container_name: bmt400-fastapi
    restart: unless-stopped
    # .env dosyasındaki değişkenleri konteynere aktar
    environment:
      - DATABASE_URL=${SUPABASE_DB_URL}
      - MQTT_BROKER_HOST=${HIVEMQ_HOST}
      - MQTT_BROKER_PORT=${HIVEMQ_PORT}
      - MQTT_USERNAME=${HIVEMQ_USERNAME}
      - MQTT_PASSWORD=${HIVEMQ_PASSWORD}
    ports:
      - "8000:8000"
    dns:
      - 8.8.8.8
      - 1.1.1.1